/venv
/__pycache__
*.pyc
*.pyo
/.ruff_cache
.env
.venv
__pycache__
src/frontend/coding-test-fe/node_modules/
src/frontend/coding-test-fe/dist/
src/frontend/coding-test-fe/.env.local
src/frontend/coding-test-fe/.env.*.local