
body{
    min-height: 100vh;
    margin: 0;
    position: relative;

    background: linear-gradient(
        0deg,
        rgb(17, 6, 42) 45%,
        rgb(32, 7, 35) 100%
    );

    background-attachment: fixed;
    background-size: cover;

}